name: dvc-pipeline

on:
  pull_request:
    branches: ['main']

permissions:
  contents: write
  pull-requests: write

jobs:
  train_and_report_eval_performance:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v3
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install --no-cache-dir -r requirements.txt

      - name: Setup CML
        uses: iterative/setup-cml@v1
          
      - name: Setup DVC
        uses: iterative/setup-dvc@v1
          
      - name: Run DVC pipeline
        run: dvc repro

      - name: Write CML report
        env:
          REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git fetch --prune
          dvc metrics diff --md main > metrics_compare.md || echo "No metrics differences found." > metrics_compare.md
          cat metrics_compare.md
          cml comment create metrics_compare.md
